* {
  font-family: Arial, Helvetica, sans-serif;
}

.cont{
  border:2px solid whitesmoke ;
  background-color:whitesmoke;
  padding: 6px;
 margin-right:30px ;
 margin-left:30px ;

}
.nav{
  display: flex;
  justify-content: center;
  align-items: center;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;

}
.btn{
  padding: 4px;
}
.content{
  padding: 4px;
}